* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Raleway', sans-serif;
    overflow-y: scroll;
    overflow-x: hidden;
}
p {
    
    font-size: 14px;
}
.active{
	color:#129CF3;
}
.contact-us-form .form-control {
    display: block;
    width: 100%;
    height: 50px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 21px;
    color: #555;
    background-color: transparent;
    border: 1px solid #aeaeae;
    border-radius: 3px;
    margin-bottom: 15px;
    opacity: .8;
    outline: 0px !important;
    transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
    
}

 input[type='text']:focus{
border: 1px solid  blue !important;
box-shadow: 0 0 3px aliceblue!important;
-moz-box-shadow: 0 0 3px aliceblue !important;
-webkit-box-shadow: 0 0 3px aliceblue !important;
}
input[type='password']:focus{
border: 1px solid blue !important;
box-shadow: 0 0 3px aliceblue!important;
-moz-box-shadow: 0 0 3px aliceblue !important;
-webkit-box-shadow: 0 0 3px aliceblue !important;
}
 textarea:focus
{
	border: 1px solid blue !important;
box-shadow: 0 0 3px aliceblue!important;
-moz-box-shadow: 0 0 3px aliceblue !important;
-webkit-box-shadow: 0 0 3px aliceblue !important;}
#message {
    height: 117px;
    resize: none;
}
#name:active
{
	border-color:blue;
}
.submit-btn,
.submit-btn:active,
.submit-btn:focus,
.submit-btn:visited {
    background-color: #129CF3;
    border: 1px solid #129CF3;
    color: #fff;
    border-radius: 3px;
    
    width: 100%;
    height: 50px;
    text-transform: uppercase;
    font-size: 18px;
   
    outline: 0px !important;
    transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
}
.submit-btn:hover {
	background-color: #1274B1;
    
   
    color: #fff;
   border-color: #316B90;
}
/* ============= header ============== */
.container{
    width: 100%;
}

.navbar.navbar-default {
	
  margin: 0!important;
   background-color: white;
    border-color: none;
    z-index: 2500;
    transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
}
.navbar-brand
{   
	color: #28a7e9;
        font-size: 30px;
        font-weight: bold;
        height: 100px;
        line-height: 35px;
}
.navbar-brand img  {
	 margin-left:50px;
     transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
}
.navbar-default .navbar-nav > .active>a, 
.navbar-default .navbar-nav > .active>a:hover,
.navbar-default .navbar-nav > .active>a:focus {
    background-color: transparent;
    color: #129CF3;
} 
.navbar-default .navbar-nav 
{
	padding-top:30px;margin-right:100px;
}
.navbar-default .navbar-nav > li > a {
    color: #B5B5B5;
	font-size:18px;
    font-family: "Raleway", sans-serif;
    transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
    
}
.navbar.navbar-default .navbar-toggle {
  border: none;
  padding-top: 50px;
  background-color: #fff;
}
.dropdown-menu {
    position: absolute;
    right:0;
    margin: 0;
    min-width: 160px;
    padding:0;
    font-size: 14px;
    list-style: none;
    background-color: #fff;
    border: none;
    box-shadow: none;
    border-radius: 0;
}
.navbar-nav>li>.dropdown-menu{
 
  border-top:  1px solid #eee;margin-top:20px;
}
.navbar-nav>li>.dropdown-menu>li>a{
   
	border-bottom: 1px solid #eee;
    
}
.navbar-nav>.dropdown>.dropdown-menu>li>a:hover{
     background-color:#129CF3;
	border-bottom: 1px solid #eee;color:blue;
  
}
.navbar-default .navbar-nav > li > a:hover {
    color: #129CF3;
}
.navbar-default .navbar-nav > li > a:focus {
    color: #B5B5B5;
}
@media only screen and (max-width: 500px) {
	.navbar-brand img  {
	 margin-left:0px;
     transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
}
.navbar-nav>li>.dropdown-menu>li>a:hover{
     color:#129CF3;
	border-bottom: 1px solid #eee;
  
}
}

.btn-download,
.btn-download:focus,
.btn-download:active,
.btn-download:visited
{
    
    background: transparent;
    border-color: #129CF3;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 19px;
    text-transform: uppercase;
    border-radius: 3px;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
     -o-transition: all 1s;
}
.btn-download:hover {
    background-color: #129CF3;
    color: #fff;    
}
/* ============= Generic CSS ============== */

.section-title {
    padding-top: 20px;
    padding-bottom: 0px;
    
}
.section-title h2 {
    position: relative;
    text-align: center;
    color: #333;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
}
.section-title h2:after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 50%;
    width: 60px;
    height: 1px;
    background-color: #129CF3;
    margin-left: -30px;
}


.section-title p {
    color: #333;
    font-size: 18px;
    line-height: 28px;
    font-weight: 300;
    text-align: center;
    margin-top: 45px;margin-bottom:0px;
}
/* ========= Footer ============= */
.footer {
    background-color: #1a1a1a;
    padding-bottom: 35px;
    padding-top: 35px;
    border-bottom: 3px solid #129CF3;
}
#copyright {
    width: 50%;
}
#copyright p {
    color: #8C8B8A;
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
}
#copyright p a {
    text-decoration: none;
    color: #129CF3;
}
.scroll-top {
    text-align: right;
}
.scroll-top a {
    background-color: #129CF3;
    padding: 25px;
}
.scroll-top a i {
    color: #fff;
    font-size: 25px;
}

